{% extends "layout.html" %}

   {% block main %} 
   <style>
      body{
    background-image: url("/static/imagenes/fondoblog.jpeg");
    background-size:530px;
    height: 100vh;
    
    
   } 
   .hero{
    height: 100vh;
    background-image: var(--background),url("/static/imagenes/portadablog.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
}  
   </style>
   
        <title>Nicaragua Culture</title>
    <body>
      <div class="hero">
    <section class="hero_container">
      <div class="hero__texts">
        <h1 class="hero_title">Bienvenido a Nicaragua Culture</h1>
        <h2 class="hero_subtitle">"La cultura es el aprovechamiento social de el
          conocimiento"</h2>
        <a href="galery" class="hero_cta">Ver imagenes destacadas</a>
      </div>

    </section>
  <div class="hero_waves" style="overflow: hidden;"><svg viewBox="0 0 500 150"
      preserveAspectRatio="none" style="height: 100%; width: 100%;"><path
        d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00
        L0.00,150.00 Z" style="stroke: none; fill: rgba(117, 237, 241, 0.986);"></path></svg></div>
  </div>       
  <main>
  <!--Seccion del Post y Comentarios-->
  <section id="principal-post">
    {% for p in publication %}
    <section id="publicaciones">
      <article class="post">
        <div class="shadow p-3 mb-1 bg-body rounded">
       
          <a href="/publication/{{p.idpublication}}" class="enlace-post"><h2>{{p.titulo}}</h2></a>
            <a href="#" class="titulo-post">{{p.register_date}}</a>
            <img src="/static/imagenes/simbolospatriosynacionales.png"
              class="img-post">
            <div class="card-body">
              <p class="parrafo-post">
                {{p.shortcontent}}
                print({{p.idpublication}})
              </p>
              <p>
                {{p.longcontent}}
              </p>
          </div>
           
        </div>
        <!--Canvas y Reacciones-->
            <!--corazon-->
            <button class="ori"><i class="fas fa-heart"></i></i></button>

            <button type="button" class="btn btn-light position-relative" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
             <i class="far fa-comments"></i>
           </button>
           {% if id_user == admin %}
           <a class="btn btn-danger" href="/borrar/{{p.idpublication}}" role="button">Eliminar</a>
           {% endif %}
          {% endfor %}
          
            <!--Inicio de la barra canvas (aqui empiezan los comentarios xd)-->    
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
            aria-labelledby="offcanvasRightLabel">

            <div class="offcanvas-header">
              <h5 id="offcanvasRightLabel">Comentarios</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div> 
            <div class="offcanvas-body">
              <!--Contenedor de comentarios en general-->
              <div class="container-comentarios">
                <!--Comentarios principales-->
                <div class="comentarios">
                  {% for c in comentarios %}
                  <div class="fotoperfil">
                    <img src="/static/imagenes/usuario-imagen.jpg"
                      alt="">
                  </div>
                  <div class="infocoments">
                    <div class="header">
                      <h4 class="title-coment">{{c.username}}</h4>
                      <h5 class="fecha-coment">{{c.fecha}}</h5>
                    </div>
                  </div>
                  <p>{{c.comentarios}}</p>
                </div>
              </div>   
            </div>
              {%endfor%}      
            {% if not isadmin%}
            <div class="escribircomentario">
              <div class="fotoescribircomentario"><img src="/static/imagenes/usuario-imagen.jpg" alt=""></div>
              <div class="input-group mb-3">
                <form action="/comentarios" method="post">
                  {% for p in publication%}
                <input type="hidden"  name="idpublication" value="{{p.idpublication}}">
                {% endfor%}
                 <input type="text" name="comentario">
                 <input class="btn btn-primary" type="submit" value="Submit">
              </form>
              
              </div>
            </div>           
          {%endif%}
        </article>   
      </section>
      </section>
    </main>
  
      <div style="background: #0a0d0f;">
          <p style="color: #91BEC2; padding: 15px 0;" align="center">
              &copy; 2021 Copyright: <a href="mailto:webcodian@gmail.com">Created By: Josefina lopez</a>
          </p>
      </div>
  </footer>

  </body>
</html>

{% endblock %}

