{% extends "layout.html" %}

   {% block main %} 
   <style>
      body{
    background-image: url("/static/imagenes/fondoblog.jpeg");
    background-size:contain;
    background-attachment: fixed;
    position:relative;
   } 
   .hero{
    height: 110vh;
    background-image: var(--background),url("/static/imagenes/portadablog.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position:center;
    position:relative;
}  
   </style>
  
        <title>Nicaragua Culture</title>
    <body>
      <div class="hero">
    <section class="hero_container">
      <div class="hero__texts">
        <h1 class="hero_title">Bienvenido a Nicaragua Culture</h1>
        <h2 class="hero_subtitle">"La cultura es el aprovechamiento social de el
          conocimiento"</h2>
        <a href="#" class="hero_cta">Ver publicaciones recientes</a>
      </div>
    </section>


  <div class="hero_waves" style="overflow: hidden;"><svg viewBox="0 0 500 150"
      preserveAspectRatio="none" style="height: 100%; width: 100%;"><path
        d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00
        L0.00,150.00 Z" style="stroke: none; fill: rgba(120, 251, 255, 0.863);"></path></svg></div>
  </div>      
  <main>
  <!--Seccion del Post y Comentarios-->
  <section id="principal-post">
    {% for p in publication %}
    <section id="publicaciones">
      <article class="post">
        <div class="shadow p-3 mb-1 bg-body rounded">

          <a href="#" class="enlace-post"><h2>{{p.titulo}}</h2></a>
            <a href="#" class="titulo-post">{{p.register_date}}</a>
            <img src="/static/imagenes/simbolospatriosynacionales.png"
              class="img-post">
            <div class="card-body">
              <p class="parrafo-post">
                {{p.shortcontent}}
              </p>
              <p>
                {{p.longcontent}}
              </p>

          </div>

           <!--Canvas y Reacciones-->

           <button type="button" class="btn btn-light">
            <i class="far fa-heart"></i>{{p.likes}}
          </button>

           <button type="button" class="btn btn-light position-relative" data-bs-toggle="offcanvas"
           data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <i class="far fa-comments"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              99+
              <span class="visually-hidden">unread messages</span>
            </span>
          </button>
        </div>
          {% endfor %}
            <!--Inicio de la barra canvas (aqui empiezan los comentarios xd)-->    
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
            aria-labelledby="offcanvasRightLabel">

             <section class="nav-comentarios">
              <h2 class="title-comentarios-post">Comentarios</h2>
              <button id="Cerrar" type="button"
                data-bs-dismiss="offcanvas" aria-label="Close">Cerrar</button>

            </section>
              
            <div class="offcanvas-body">
              <!--Contenedor de comentarios en general-->
              <div class="container-comentarios">
                <!--Comentarios principales-->
                <div class="comentarios">
                  <div class="fotoperfil">
                    <img src="/static/imagenes/usuario-imagen.jpg"
                      alt="">
                  </div>

                  <div class="infocoments">
                    <div class="header">
                      <h4 class="title-coment">Nombre de Usuario</h4>
                      <h5 class="fecha-coment">30 noviembre 2021</h5>
                    </div>
                    <p>Lorem ipsum, dolor sit
                      amet consectetur adipisicing elit.
                      Quod dicta quis, accusantium doloremque
                      praesentium soluta iste</p>
                    <hr class="line">

                    <div class="footer">
                      <h5 class="request">Responder</h5>
                    </div>
                  </div>

                </div>

              </div>
              <!--Comentarios de respuestas de comentarios principales xd-->
              <div class="container-comentarios-request">
                <div class="comentarios-request">

                  <div class="fotoperfil-request">
                    <img src="/static/imagenes/usuario-imagen.jpg"
                      alt="">
                  </div>

                  <div class="infocoments-request">
                    <div class="header">
                      <h4 class="title-coment-request">Nombre de Usuario</h4>
                      <h5 class="fecha-coment-request">30 noviembre 2021</h5>
                    </div>
                    <p>Lorem ipsum, dolor sit
                      amet consectetur adipisicing elit.
                      Quod dicta quis.</p>
                    <hr class="line">

                    <div class="footer-request">
                      <h5 class="request">Responder</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="escribircomentario">
              <div class="fotoescribircomentario"><img src="/static/imagenes/usuario-imagen.jpg" alt=""></div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Escribir Comentario" aria-label="Recipient's comentario"
                  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="submit"
                  id="button-addon2"><i class="fas fa-arrow-right"></i></button>
              </div>
            </div>
          </div>
        </article>
      </section>
      </section>
    </main>
    <footer class="footer">
      <div class="container footer__grid>
      <i class="far fa-envelope" href="#"></i>
       <i class="fab fa-whatsapp" href="#"></i>
       <i class="fab fa-telegram-plane" href="#"></i>
   
      </div class>
    </footer>
  </body>
</html>

{% endblock %}