{% extends "layout.html" %}
{% block main %}
    <style>
      body{
        font-family: emoji;
        background: cornflowerblue;
        background: linear-gradient(to right #3849c9, #d5d6e0 );
      }
      .bg{
        background-image: url("/static/imagenes/imagelogin.jpg");
        background-position: center center;
        background-size:cover;
      }
    </style>
    <title>Register</title>
  </head>
  <body>
   <div class= "container w-50 bg-primary mt-4 rounded shadow">
     <div class="row align-content-lg-stretch">
       <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
       </div>
       <div class="col bg-white p-5 rounded-end">
          <hi2 class="fw-bold text-center py-10 ">Register</hi2>

          <form action="{{url_for('register')}}" method="post" autocomplete="off">
            <div class="mb-4">
             <label for= "username" class="form-label">Nombre de Usuario</label> 
             <input type="username" class="form-control" name="username">
            </div>
            <div class="mb-4">
              <label for= "password" class="form-label">Contraseña</label> 
             <input type="password" class="form-control" name="password">
            </div>
            <div class="mb-4">
              <label for= "password" class="form-label">Confirmar Contraseña</label> 
             <input type="password" class="form-control" name="confirmation">
            </div>
           <div class="d-grid">
              <button type="submit" class="btn btn-primary">Registrate</button>
            </div>
            <div class="my-3">
              <span>¿Ya tienes una cuenta? <a href="/login">Iniciar sesion</a></span>
            </div>
          </form>
       </div>
     </div>
   </div>

  </body>
</html>
{% endblock %}